{% extends 'base.html' %}
{% load index %}
{% load static %}
{% block content %}
<div class="container mt-3" style="height: auto !important;">
<div class="my-3" style="height: auto !important;">
    <h1 class="pb-3 mb-0 border-bottom border-secondary font-weight-bold">
        {{ course.coursename }}({{ course.subid }})
    </h1>
    <div class="d-flex justify-content-between pt-4">
        <p>개설학과: {{ course.department }}</p>
        <p>담당교수: {{ course.professor }}</p>
    </div>
    {% if messages %}
        <div class="alert alert-danger m-3" style="align-content:center;">
        {% for message in messages %}
            <p style="text-align:center; font-size: 16pt;">{{ message.message }}</p>
        {% endfor %}
        </div>
    {% for b in book %}
        {% if b == 'error'%}
            <div class="alert alert-danger m-3" style="align-content:center;">
                <p style="text-align:center; font-size: 16pt;">등록된 책 정보를 불러오는데 실패하였습니다.</p>
            </div>
        {% endif %}
    {% endfor %}
    {% else %}
        <div class="border-top border-secondary pt-4">
            <h3>등록된 <strong>{{ course_book.count }}</strong>개의 강의 서적이 있습니다</h3>
            <div class="book-block my-3">
                {% for dbBook in course_book %}
                {% with book=book|index:forloop.counter0 %}
                    <div class="book-item p-3 my-3 border rounded">
                        <div class="d-flex">
                            <div class="p-2 flex-grow-1"><h3>{{ dbBook.bookid.bookname }}</h3></div>
                            <div class="p-2"><strong>Author</strong> : {{ dbBook.bookid.author }}</div>
                            <div class="p-2">
                                <strong>Published</strong> :
                                    {% if book.datetime %}
                                        {{ book.datetime|slice:":7" }}
                                    {% else %}
                                        {% if dbBook.bookid.published %}
                                            {{ dbbook.bookid.published }}
                                        {% else %}Unknown{% endif %}
                                    {% endif %}
                            </div>
                        </div>
                        <div class="d-flex justify-content-start pt-1">
                            <div class="my-3 p-2">
                            {% if book.thumbnail %}
                                <img src="{{ book.thumbnail }}">
                            {% else %}
                                <img src="{% static 'unkownBook.png' %}">
                            {% endif %}
                            </div>
                            <div class="p-2 text-break">
                                <h5 class="border-bottom border-dark py-2">줄거리</h5>
                                <p>
                                    {% if book.contents %}
                                        {{ book.contents }}
                                    {% else %}
                                        줄거리 설명이 없습니다
                                    {% endif %}
                                </p>
                                <p>
                                    {% if book.price %}
                                        정상가: {{ book.price }}원
                                    {% else %}
                                        가격 정보가 없습니다
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="m-1 btn btn-outline-secondary">판매처 확인하기</button>
                            <button type="button" class="m-1 btn btn-outline-secondary">추천 도서 확인하기</button>
                        </div>
                    </div>
                {% endwith %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="d-flex justify-content-between pt-4">
        <button type="button" class="btn btn-outline-primary">강의명으로 도서 검색하기</button>
        <button type="button" class="btn btn-outline-primary">직접 도서 검색하기</button>
        <button type="button" class="btn btn-outline-primary">이전으로 돌아가기</button>
    </div>
</div>
</div>
{% endblock %}
