{% load static %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A20131;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/logo.png' %}" alt="Logo" width="23" height="27" class="d-inline-block align-text-top">
            <span style="color: aliceblue;">강의 도서 안내 서비스</span>
        </a>
        <button class="navbar-toggler custom-toggler d-inline-block d-lg-none m1-auto" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation" style="border-color: aliceblue;">
             <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}" style="color: aliceblue;">
                    <i class="fa-solid fa-chalkboard-user" style="color: #ffffff;"></i> 강의 도서 검색
                </a>
            </li>
            <li class="nav-item d-flex justify-content">
                <a class="nav-link" href="{% url 'search' 0 %}" style="color: aliceblue;">
                    <i class="fa-solid fa-book" style="color: #ffffff;"></i> 도서 검색
                </a>
            </li>
        </ul>
    </div>
    </div>
</nav>